[Desktop Entry]
Version=1.0
Name=Chrono Cross
GenericName=Play this game on RetroArch
Type=Application
Comment=Frontend for emulators, game engines and media players
Comment[ru]=Графический интерфейс для эмуляторов, игровых движков и медиаплееров
Comment[fr]=Interface graphique pour émulateurs, moteurs de jeu et lecteurs multimédia
Comment[de]=Front-End für Emulatoren, Spiel-Engines und Mediaplayer
# Icon=/home/deck/Games/Icon.png
Icon=org.libretro.RetroArch
Exec=flatpak run org.libretro.RetroArch -L /home/deck/.var/app/org.libretro.RetroArch/config/retroarch/cores/mednafen_psx_hw_libretro.so /home/deck/Games/Game/Chrono\ Cross\ \(USA\)\ \(Disc\ 1\).cue
Terminal=false
StartupNotify=false
StartupWMClass=retroarch
Keywords=multi;engine;emulator;xmb;
Categories=Game;Emulator;
X-Flatpak-RenamedFrom=retroarch.desktop;
X-Flatpak=org.libretro.RetroArch
# NoDisplay=true
