[Desktop Entry]
Categories=Game;Emulator;
Comment[en_US]=Frontend for emulators, game engines and media players
Comment=Frontend for emulators, game engines and media players
Comment[de]=Front-End für Emulatoren, Spiel-Engines und Mediaplayer
Comment[fr]=Interface graphique pour émulateurs, moteurs de jeu et lecteurs multimédia
Comment[ru]=Графический интерфейс для эмуляторов, игровых движков и медиаплееров
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=retroarch org.libretro.RetroArch -L /home/deck/.var/app/org.libretro.RetroArch/config/retroarch/cores/mednafen_supafaust_libretro.so /home/deck/Games/Game.sfc
GenericName[en_US]=Play this game on RetroArch
GenericName=Play this game on RetroArch
Icon=/home/deck/Games/Media/Icon.png
Keywords=multi;engine;emulator;xmb;
MimeType=
Name[en_US]=Super Bomberman 2
Name=Super Bomberman 2
Path=
StartupNotify=false
StartupWMClass=retroarch
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-Flatpak=org.libretro.RetroArch
X-Flatpak-RenamedFrom=retroarch.desktop;
X-KDE-SubstituteUID=false
X-KDE-Username=
